apiVersion: run.googleapis.com/v1
kind: Job
metadata:
  name: eazo-book-analysis
spec:
  template:
    spec:
      taskCount: 1
      parallelism: 1
      template:
        spec:
          serviceAccountName: eazo-book-worker@PROJECT_ID.iam.gserviceaccount.com
          timeoutSeconds: '7200'
          maxRetries: 2
          containers:
          - image: asia-east1-docker.pkg.dev/PROJECT_ID/eazo-workers/book-analysis@sha256:IMAGE_DIGEST
            resources:
              limits:
                cpu: '1'
                memory: 2Gi
            env:
            - name: GOOGLE_CLOUD_PROJECT
              value: PROJECT_ID
            - name: GOOGLE_CLOUD_LOCATION
              value: global
            - name: EAZO_PIPELINE_VERSION
              value: SOURCE_REVISION
            - name: SUPABASE_URL
              value: https://SUPABASE_PROJECT_REF.supabase.co
            - name: SUPABASE_SERVICE_ROLE_KEY
              valueFrom:
                secretKeyRef:
                  name: eazo-supabase-worker-key
                  key: '1'
